<html>
 <head>
 	<title>Home page</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 	
 </head>
 <body>
 	Please enter the user details</br></br>
 	Name        </br><input type="text" name="name" id="nameinp"></br>
 	Username    </br><input type="text" name="username" id="usernameinp"></br>
 	Password    </br><input type="text" name="password" id="passwordinp"></br>
 	Description </br><input type="text" name="username" id="descinp">
 	</br></br><button type="button" id="btn1">Submit</button>
 	</br></br>
 	
 	<p id="result1"></p>
 	<hr>
 	
 	<br/>
 	Retrieve user details</br>
 	</br>Enter the username</br>
 	<input name="uname" id="uname"></br>
 	<button type="button" id="btn2">Get details</button>
    <br><br>
    <p id="result2"></p>
 	
 	<script type="text/javascript" src="/js/homejs.js"></script>
 </body>
</html>
